{% extends 'base.html' %}

{% block style %}
    #main-nav {
        background-color: #121317;
    }

    .product-link {
        color: black;
    }

{% endblock %}

{% block title %}Carrinho{% endblock %}

{% block header %}
    <nav id="main-nav" class="navbar navbar-expand-lg">
      <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'pages:home' %}">
              <img id="logo-img" src="/static/img/logo.png" alt="Minha loja">
          </a>
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link white" aria-current="page" href="#">Sobre Nós</a>
            </li>
            <li class="nav-item">
              <a class="nav-link white" href="{% url 'products:list' %}">Loja</a>
            </li>
            <li class="nav-item">
              <a class="nav-link white" href="#">Tendências</a>
            </li>
            <li class="nav-item">
              <a class="nav-link white" href="#">Contato</a>
            </li>
            <li class="nav-item">
              <a class="nav-link white" href="{% url 'cart:detail' %}">Carrinho</a>
            </li>
          </ul>
      </div>
    </nav>
{% endblock %}

{% block content %}
    {% if cart %}
        {{cart}}
    {% else %}
        <h6>O carrinho está vazio.</h6>
    {% endif %}
{% endblock %}
