{% extends 'base.html' %}

{% block style %}

    #bg-top-header {
        background-color: #121317;
    }

    #top-header {
        margin: auto;
        color: #FFF;
        height: 2em;
        font-size: 0.9em;
        padding-top: 0.3em;
    }

    #top-header p {
        padding: 0;
    }

    #header {
        background-image: url('/static/img/fundo_original.jpg');
        height: 36em;
        background-position: center;
        background-size: cover;
    }

    #box-text-header {
        margin: 3em 2.6em;
    }

    m-auto {
        margin: auto;
    }

    #btn-box-bg-1 {
        background-image: url('/static/img/btn_bg_1.jpg');
        background-position: center;
        background-size: cover;
    }

    #btn-box-bg-2 {
        background-image: url('/static/img/btn_bg_2.jpg');
        background-position: center;
        background-size: cover;
    }

    #btn-box-bg-3 {
        background-image: url('/static/img/btn_bg_3.jpg');
        background-position: center;
        background-size: cover;
    }

    .btn-box {
        height: 11em;
        margin: 1em 0.4em;
        padding-top: 3.3em;
        color: #FFF;
    }

    #buy-section {
        background-color: #121317;
        height: 6.6em;
        padding-top: 2.2em;
        color: #FFF;
    }

    #buy-section a {
        color: #BB2020;
        font-weight: bold;
    }

    #buy-section a:hover {
        text-shadow: 0 0 2px #BB2020;
    }

    #footer {
        background-color: #003F63;
        height: 17em;
        padding-top: 7em;
        color: #FFF;
    }

{% endblock %}

{% block top-header %}
    <div id="bg-top-header">
        <div id="top-header" class="container-fluid row">
            <p class="col-8 text-start">Frete grátis para compras acima de R$ 149,00</p>
            <p class="col-4 text-end">Nossas redes</p>
        </div>
    </div>
{% endblock %}

{% block header %}
    <header id="header">
        <nav class="navbar navbar-expand-lg">
          <div class="container-fluid">
              <a class="navbar-brand" href="{% url 'pages:home' %}">
                  <img id="logo-img" src="/static/img/logo.png" alt="Minha loja">
              </a>
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link white" aria-current="page" href="#">Sobre Nós</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link white" href="{% url 'products:list' %}">Loja</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link white" href="#">Tendências</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link white" href="#">Contato</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link white" href="{% url 'cart:detail' %}">Carrinho</a>
                </li>
              </ul>
          </div>
        </nav>
        <div class="container-fluid">
            <div id="box-text-header" class="col-5">
                <h1>O Estilo é Tudo</h1>
                <h4>Vista-se Bem, Sinta-se Bem</h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus
                    pretium interdum finibus. Aenean volutpat metus ut enim pulvinar, et
                    imperdiet risus sodales. Vivamus lorem dolor, rhoncus at nunc eget.
                </p>
                <a href="#" class="btn btn-danger">Explore Nossa Loja</a>
            </div>
        </div>
    </header>
{% endblock %}

{% block content %}
    <main>
        <section class="container-fluid row m-auto">
            <h4 class="text-center">O estilo é algo que levamos a sério.</h4>
            <div id="btn-box-bg-1" class="col btn-box text-center">
                <h6>ACESSÓRIOS</h6>
                <a href="#" class="btn btn-danger">COMPRAR AGORA</a>
            </div>
            <div id="btn-box-bg-2" class="col btn-box text-center">
                <h6>CONHEÇA A EQUIPE</h6>
                <a href="#" class="btn btn-danger">SOBRE NÓS</a>
            </div>
            <div id="btn-box-bg-3" class="col btn-box text-center">
                <h6>TENDÊNCIAS</h6>
                <a href="#" class="btn btn-danger">EXPLORAR</a>
            </div>
        </section>
        <section class="container-fluid m-auto">
            <h2 class="text-center">Nossos Lançamentos do Mês</h2>
            <p class="text-center">Provavelmente não tens nada para vestir</p>
        </section>
        <section id="buy-section" class="container-fluid m-auto">
            <h2 class="text-center">Quer ver mais produtos? <a href="#">COMPRE JÁ!</a></h2>
        </section>
    </main>
{% endblock %}

{% block footer %}
    <footer id="footer">
        <p class="text-center">
            <a href="#">Contato</a>
            <span>|</span>
            <a href="#">Política de Privacidade</a>
            <span>|</span>
            <a href="#" class="link">Termos e Condições</a>
        </p>
        <p class="text-center">Desenvolvido por <a href="#">Matheus Kontarski</a></p>
    </footer>
{% endblock %}
